@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
}

.title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.link-btn {
  padding: 0.75rem;
  background: rgb(61, 61, 227);
  font-size: 1.75rem;
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 0.4rem;
}

.link-btn:hover {
  background: rgb(21, 21, 211);
}
